:root {
    --bege: #ffeeee;

}

body {

    background-color: var(--bege);
}

image {
    width: 1200px;
}

header
display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
}