:root {
    --bege: #ffeeee;
    --branco: #ffffff;
    --preto: #000000;
}

body {

    background-color: var(--bege);
}

image {
    width: 1200px;
}

header {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}

section{
    display: flex;
    justify-content:space-around
    background-color:(var(--branco))
}